$fontColor: #fff;
$errorColor: red;

.color{
    padding-top: 10px;
    color: #fff;
}

.leftfloater {
    display: block;
}

header {
    height: 80px;
    background-color: #000;
}

.leftmargin {
    margin-left: 30px;
}

#errormessage {
    color: $errorColor;
}

#errormessageup {
    color: $errorColor;
}

.btnfront {
    float: left;
    margin-left: 1100px;
    margin-top: -45px;
}